<div class="row">
    <div class="col-auto">
        <h2>Update Post</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <form class="form update-post-form">
            <input type="hidden" name="post-id" value="{{post.id}}">
            <div class="form-group">
                <label for="update-title">Post Title:</label>
                <input class="form-input" type="text" id="update-title" name="update-title" value="{{post.title}}" />
            </div>
            <div class="form-group">
                <label for="update-desc">Description:</label>
                <textarea class="form-input" id="update-desc" name="update-desc">{{post.description}}</textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/update-post.js"></script>